.MMM-Weather-SMHI .day {
  padding-left: 0;
  padding-right: 10px;
}

.MMM-Weather-SMHI .weather-icon-large {
  font-size: 65%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.MMM-Weather-SMHI .weather-icon {
  text-align: left;
  font-size: 65%;
}

.MMM-Weather-SMHI .temp-daily {
  padding-left: 5px;
  text-align: right;
}

.MMM-Weather-SMHI .windspeed-daily {
  padding-left: 5px;
  text-align: right;
}

.MMM-Weather-SMHI .direction-daily {
  padding-left: 0px;
  text-align: left;
}

.MMM-Weather-SMHI .rain-daily {
  padding-left: 5px;
  text-align: right;
}

.MMM-Weather-SMHI .mm-unit {
  font-size: 50%;
}

.MMM-Weather-SMHI header {
  padding-top: 15px;
}
