.MMM-Weather-SMHI .day {
  padding-left: 0;
  padding-right: 25px;
}

.MMM-Weather-SMHI .weather-icon-large {
  font-size: 65%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.MMM-Weather-SMHI .weather-icon {
  padding-right: 15px;
  text-align: center;
  font-size: 65%;
}

.MMM-Weather-SMHI .weather-icon1 {
  padding-left: 15px;
  text-align: center;
}

.MMM-Weather-SMHI .min-temp {
  padding-right: 0;
}

.MMM-Weather-SMHI header {
  padding-top: 15px;
}
